.group-list {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.group-btn {
  background-color: #ea5455;
  width: 120px;
  height: 35px;
  color: white;
  border: none;
}
